/* vymazanie cursoru*/
body, body * {
  cursor: none;
}
/* ak je sirka stranky do 600px kurzor sa vypne*/

@media screen and (max-width: 600px) {
  .cursor {
    display: none;
  }
}

/* style cursor */
.cursor {
  position: fixed;
  background:#a29674 ;
  width: 80px;
  height: 80px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  border:2px solid white;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  opacity: 0.5;
}

/* Style the links inside the navigation bar */
.topnav a {

  display: block;
  color: black;
  text-align: center;
  padding: 1% 5%;
  text-decoration: none;
  font-size: 40px;
  margin: 0px;
 /* box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35); */
}
/* Add an active class to highlight the current page */
.topnav a.active {
  margin-right: 1%;
  margin-top: 1%;
  float: right;
  background-color: ;
  color: #a29674;
  font-family: 'Roboto Mono', monospace;
}
.topnav a:hover {
  background: var(--color-gray-90);
  color: var(--color-gray-50);
  border:2px solid #000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  }

.nadpis{
  margin-left: 1%;
  margin-top: 1%;

padding-top: 20px;
padding-left: 15px;
}
.podnapdpis{
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  color:#a29674  ;
}

.fotky{
  width: 98%;
  margin: 0px;
}
.foto{
  margin-top:5px;
  margin-bottom: 5px;
  margin-left: 1%;
  margin-right: 1%;
}



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --color-gray-90: hsl(0,0%,90%);
  --color-gray-80: hsl(0,0%,80%);
  --color-gray-50: hsl(0,0%,30%);
  --color-light: hsl(0,0%,100%);
  --font-size-initial: 15px;
  --size-initial: 1px;
}

body{
  background: var(--color-gray-90);
  color: var(--color-gray-50);
  font-family: 'Roboto Mono', monospace;
  font-size: var(--font-size-initial);
}

/* CONTAINERS */
main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--font-size-initial) * 18), 1fr));
  gap: calc(var(--font-size-initial) * 2);
  margin: auto;
  max-width: calc(var(--font-size-initial) * 100);
  padding: calc(var(--font-size-initial) * 2);
}


main2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--font-size-initial) * 18), 1fr));
  gap: calc(var(--font-size-initial) * 2);
  margin: auto;
  max-width: calc(var(--font-size-initial) * 100);
  padding: calc(var(--font-size-initial) * 2);

}

.foto-technologia{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

section2{
  background:#a29674;
  color: black;
}

section{
  border:0px solid #000;


}
/* section{
  background: var(--color-light);
  border-radius: calc(var(--font-size-initial) * 0.0);
  box-shadow: 0 calc(var(--size-initial) * 3) calc(var(--size-initial) * 6) hsla(0,0%,0%,.1);
  overflow: hidden;
}
*/

article{
  padding: calc(var(--font-size-initial) * 2);

}


figure{
  height: calc(var(--font-size-initial) * 15);
}




/* IMAGE */
img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* TYPOGRAPHY */
h3{
  text-align: center;
  padding: 10px;
  font-size: calc(var(--font-size-initial) * 2);
  letter-spacing: calc(var(--size-initial) * -1.25);
  line-height: calc(var(--font-size-initial) * 2.25);
  margin: calc(var(--font-size-initial) * .5) 0;
}

p{
  font-size: calc(var(--font-size-initial) * .875);
  line-height: calc(var(--font-size-initial) * 1.25);
}

span{
  color: var(--color-gray-80);
  font-size: calc(var(--font-size-initial) * .75);
  letter-spacing: calc(var(--size-initial) * .75);
  text-transform: uppercase;
  word-spacing: var(--size-initial);
}


/*            FOOTER        */
.site-footer
{
  background-color:#a29674;
  padding:45px  20px;
  font-size:15px;
  line-height:24px;
  color:black;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:20px;
  margin-bottom: 20px;
  letter-spacing:2px
}

.site-footer a:hover
{
  color:black;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li{
  margin-top: 10px;
  ,margin-bottom: 10px;
  display:block
}
.footer-links a{
  color:black;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  text-decoration:none;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:black;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
}



.scene-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: center;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
}

.scene-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0px solid #000;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.scene-wrapper canvas {
  width: 100%;
  height: 100%;
  display: block;
}


/* Pre mobily: 3D scéna nad textom */
@media screen and (max-width: 600px) {
  .scene-section {
    grid-template-columns: 1fr;
     min-height: 450px; /* nastaviteľné – môžeš dať aj 50vh, 400px, atď. */
  }
}

.scene-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  
  align-items: stretch;
  width: 100%;  
  padding: 0%;
  box-sizing: border-box;
}












